.nav > auto-menu > li > a {
    position: relative;
    display: block;
}

.nav > auto-menu > li > a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

.nav > auto-menu > li.active > a {
  color: #ffffff;
}
.navbar-default .nav > auto-menu > li > a:hover,
.navbar-default .nav > auto-menu > li > a:focus {
  background-color: #293846;
  color: white;
}

.nav.navbar-top-links > auto-menu > li > a:hover,
.nav.navbar-top-links > auto-menu > li > a:focus {
  background-color: transparent;
}
.nav > auto-menu > li > a i {
  margin-right: 6px;
}

.navbar-default .nav > auto-menu > li > a:hover,
.navbar-default .nav > auto-menu > li > a:focus {
  background-color: #293846;
  color: white;
}

.nav.navbar-top-links > auto-menu > li > a:hover,
.nav.navbar-top-links > auto-menu > li > a:focus {
  background-color: transparent;
}
.nav > auto-menu > li > a i {
  margin-right: 6px;
}

.nav > auto-menu > li.active {
  border-left: 4px solid #19aa8d;
  background: #293846;
}




.tags {
   margin-bottom: 5px;
}

.tags .tag {
   display: inline-block;
   margin-right: 5px;
   font-size: 13px;
}

.tag .close {
   font-size: 14px;
   margin-left: 5px;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

#page-wrapper {
    min-height: 650px;
    padding-bottom: 50px;
    position: inherit;
    margin: 0 0 0 220px;
}

/* Switch only with CSS*/

.switch input {
    display: none;
}
.switch i {
    display: inline-block;
    cursor: pointer;
    padding-right: 20px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    border-radius: 20px;
    box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}
.switch i:before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.switch :checked + i {
    padding-right: 0;
    padding-left: 20px;
    box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px green;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px green;
}

.switch.red :checked + i {
    box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px red;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px red;
}
