<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
</div>


<!-- Wrapper-->
<div ng-if="currentUser" id="wrapper">
    <toast></toast>
    <!-- Navigation -->
    <div ng-if="currentUser" ng-include="'layouts/default/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Page wrapper -->
        <div  ng-if="currentUser" ng-include="'layouts/default/topnavbar.html'"></div>

        <!-- Main view  -->
        <div class="wrapper wrapper-content animated fadeInRight" ui-view></div>

        <!-- Footer -->
        <div ng-include="'layouts/default/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->

<div ng-if="!currentUser" ui-view></div>
