{% extends "perfil/base.html" %}

{% load bootstrap %}


{% block navbar %}
<!-- Navigation -->
{% endblock %}


{% block container  %}

  <div class="col-xs-12 col-md-12 header-bg">
      <div class="col-md-12 text-center title">
          <img src="{{STATIC_URL}}img/logo-home.png" class="logo-home">
          <h3 class="subtitle">Mostramos la labor Parlamentaria de Diputados y Senadores de Chile</h3>
          <section class="demo col-md-4 col-md-offset-4 text-center">
            <div class="sandbox">

              <select id="select-country" class="demo-default" placeholder="Escriba su comuna de votación">
                  <option value="">Listado de de comunas de Chile</option>
                  {% for comuna in lista_comunas %}
                    <option value="{{comuna.id}}">{{comuna.nombre}}</option>
                  {% endfor %}
              </select>

            </div>
          </section>
      </div>
  </div>

{% endblock %}

{% block footer %}
  <footer>
      <div class="text-center">
          <p>Desarrollado por <a href="https://www.twitter.com/GonzaloAfa">@GonzaloAfa</a> 2016</p>
      </div>
  </footer>
{% endblock %}
